{{!-- same content as in index.html --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engines</title>
    <link rel="stylesheet" href="style.css">     <!-- we made style.css i.e public folder static-->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li> <a href="/about"> About</a></li>
                <li><a href="/contact"> Contact</a></li>
            </ul>
        </nav>
    </header>

    <main><p> Main content from HandleBars </p></main>

{{data}}   <!--to access data from server.js--><!-- all this type is DYNAMIC variables-->

    <footer><p>Footer content</p></footer>
</body>
</html>






<!-- NOTE: the folder "views" should be named as "views" only -->
