<!-- same file as index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engines</title>
    <link rel="stylesheet" href="style.css">     <!-- we made style.css i.e public folder static-->
</head>
<body>
    <!-- <h1>Template Engine</h1> -->
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li> <a href="/about"> About</a></li>
                <li><a href="/contact"> Contact</a></li>
            </ul>
        </nav>
    </header>

    <main><div>welcome to page from ejs</div></main>

    <%=  data%>     <!-- to access variable from server.js -->

    <% array.map((i)=>{ %>   <!-- to access array from server.js-->
        <p><%= i%></p>
        <%}) %>

    <footer><p>Footer content</p></footer>
</body>
</html>